.doc {
    max-width: 100%;
}

.doc code,
.doc p code,
.doc thead code,
.doc .colist > table code {
    color: #222;
    background: #f6f6f6;
}

.doc pre.highlight > code,
.doc .listingblock pre:not(.highlight),
.doc .literalblock pre {
    background: #f6f6f6;
}

.doc .admonitionblock td.content {
    background: #f6f6f6;
}
